# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
*.egg-info/
.DS_Store

# Node.js
node_modules/
# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
Thumbs.db
.DS_Store

# VSCode
.vscode/

# Mac
*.DS_Store

# Backup
*.bak
*.swp

# Output
output/ 