# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
*.egg-info/
.DS_Store

# System
Thumbs.db
.DS_Store

# VSCode
.vscode/

# Mac
*.DS_Store

# Backup
*.bak
*.swp

# Output
output/ 
credentials.json 
token.json
*.pem
*.key
*.crt
*.p12
.streamlit/secrets.toml 